## -*- mode: R -*-
## This program is fre esoftware: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <http://www.gnu.org/licenses/>.

## Authors: L. Finos, M. Redaelli

project.config <-
  list(
       projects.home="/var/www_poisson/twitter-sentiments",
       projects.url="http://poisson.it.pirelli.com/twitter-sentiments",

       tmp.dir="/tmp",
       command.wait=FALSE,
       command.eval.jobs=2,
       ##twitter.command="$STRATEGICO_HOME/strategico.R -n __PROJECT_NAME__ --cmd __CMD__ __OPTIONS__ -M __MAILTO__",
       twitter.command="PATH=/apps/R/bin:$PATH sudo -u r -i /apps/slurm/bin/sbatch --workdir=/var/www/slurm --mail-type=ALL --mail-user=__MAILTO__ --job-name=__PROJECT_NAME__-__CMD__ $STRATEGICO_HOME/strategico.R  -n __PROJECT_NAME__ --cmd __CMD__ __OPTIONS__ -M __MAILTO__",
       mail.smtp_server="localhost",
       
       ## #####################################################################
       ## DB Options
       ## #####################################################################
       db.user="r",
       db.pass="r",
       db.host="poisson.it.pirelli.com",
       db.case="tolower",
       db.name="twitter",
       
       ## #####################################################################
       ## Logging Options
       ## #####################################################################
       #logger.level='DEBUG'
       #logger.level='ERROR'
       ##logger.level='INFO'
       logger.level='WARN'
       )
